<app-loader [loading]="loading"></app-loader>
<main *ngIf="!loading" class="page-wrapper hero-bg">
  <div class="container">
    <div class="row justify-content-center align-items-center page">
      <div class="col-md-12 col-lg-9">
        <div class="page-title">
          <h1 class="text-center"><span></span></h1>
          <p class="text-center">
            Full Stack Developer who focus on user interface,developing
            microservices and build business requirement into software
            solutions.
          </p>
        </div>
        <div class="text-center">
          <a class="btn btn-secondary" routerLink="/about"> read more.. </a>
        </div>
      </div>
    </div>
  </div>
</main>
