body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #ababab;
}

.page-wrapper {
    border-top: 6px solid var(--si-primary);
}

.page {
    width: 100%;
    height: calc(100vh - 6px);
}

@media screen and (max-width: 787px) {
    .page {
        margin-left: 0;
        margin-right: 0;
    }
}