body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #ababab;
    transition: all 1s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    color: var(--si-primary);
}

.page-wrapper {
    /* border-top: 6px solid var(--si-primary); */
}



.page {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: 787px) {
    .page {
        margin-left: 0;
        margin-right: 0;
    }
}